server:
  port: 8888
#  tomcat:
#    accesslog:
#      enabled: true
#      directory: logs
#    basedir: ${HOME}/tomcat
spring:
  profiles:
    active: native
  application:
    name: config-service
  
  datasource:
    url: jdbc:mariadb://zium02:3306/mydb
    driver-class-name: org.mariadb.jdbc.Driver
    platform: mysql
    username: root
    password: ziumks
    hikari:
      connection-timeout: 5000
      maximum-pool-size: 4
  cloud:
    config:
      label: master
      server:
        jdbc:
          sql: select `key`, `value` from `properties` where `application`=? and `profile`=? and `label`=?;
          order: 0
#        git:
#          uri: ${HOME}/git/spring/config


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    healthcheck:
      enabled: true
          